{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="Keywords" content="国达陶瓷，吉安国达陶瓷，吉安国达陶瓷专卖店，国之精品，达至天下，瓷木地板，罗马艺术线条，通体仿古砖，六角砖"/>
    <meta name="Description"
          content="国达以“国之精品，达至天下”为品牌理念，执着“更自然、更健康、更环保”的品牌宗旨 。 从成功创立品牌的耀眼光芒中折射出名族建陶品牌的光辉，凭借着“好陶瓷，国达造”的自信，成功在这竞争激烈的市场中脱颖而出。未来，国达陶瓷更将奋步进取，把握着建陶行业的脉动，与有志之士，共谋发展；"/>
    <title>{% block title %}{% endblock %}</title>

    {#加载css#}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/customer.css' %}">

    <script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            });
        })
    </script>
    <script src="{% static 'bootstrap/js/gdjp.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
{#导航#}
{% include 'common/nav.html' %}


{#页面内容部分#}

{% block content %}{% endblock %}


{#页面底部#}
<div class="jumbotron footer">
    {% include 'common/footer.html' %}
</div>

{% include 'common/qq.html' %}


</body>
</html>