{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %}{% endblock %}</title>

    {#加载css#}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/customer.css' %}">

    <script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            });
        })
    </script>
    <script src="{% static 'bootstrap/js/gdjp.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
{#导航#}
{% include 'common/nav.html' %}


{#页面内容部分#}

{% block content %}{% endblock %}


{#页面底部#}
<div class="jumbotron footer">
    {% include 'common/footer.html' %}
</div>

{% include 'common/qq.html' %}


</body>
</html>