{% load staticfiles %}
<section class="side-bar active">
    <div class="QQ">
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=208161327&site=qq&menu=yes"><img border="0"
                                                                                                  src="http://wpa.qq.com/pa?p=2:208161327:52"
                                                                                                  alt="联系客服"
                                                                                                  title="联系客服"/>客服1</a>
    </div>
    <div class="QQ">
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=204693907&site=qq&menu=yes"><img border="0"
                                                                                                  src="http://wpa.qq.com/pa?p=2:204693907:52"
                                                                                                  alt="联系客服"
                                                                                                  title="联系客服"/>客服2</a>
    </div>
    <div class="top">
        <a href="javascript:scroll(0,0)"><img src="{% static "images/bg/top.png" %}"> </a>
    </div>
</section>
